beautifulsoup4~=4.9
biopython~=1.78
boto3
click~=7.1
-e ./module
ipython~=7.18
joblib~=0.16
matplotlib~=3.3
numpy~=1.19
pandas~=1.1
PyYAML
regex
requests
scikit-learn
scipy~=1.5
tensorboard
tokenizers
torch
tqdm
transformers
urllib3
wget
