.nav-link a {
  color: black;
  font-size: 25px;
}

.navbar-brand {
  font-size: 50px;
}

a {
  text-decoration: none;
}

table,
th,
tr,
td,
thead,
tbody {
  border: 1px solid black;
  padding: 10px;
  margin: 3px;
}

footer {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
